services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    volumes:
      - './.docker/postgres-data:/var/lib/postgresql'
    ports:
      - '5432:5432'

volumes:
  .docker: